<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Dr. Dean Martin's Pizzararium</h1>
  <div>
    <nav>
      <ul>
        <li>
          <a href="/home">Home</a>
          <a href="/pizza-orders">Pizza Orders</a>
          <a href="/pizza-orders/new">Order Pizza!</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
